@import "../mixins";
.home {
  padding-top: 50px;
  .container {
    .row {
      flex-direction: column;
      .title {
        &:nth-of-type(2) {
          margin-top: 40px;
        }
        @include title();
      }
      .cardBox {
        gap: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .card {
          padding: 10px 15px;
          border-radius: 8px;
          background-color: $darkPurpleClr;
          display: flex;
          cursor: pointer;
          justify-content: space-between;
          width: 50%;
          color: $whiteClr;
          align-items: center;
          transition: all 0.3s ease;
          .dateTime {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
          .teams {
            display: flex;
            gap: 20px;
            .teamNames {
              display: flex;
              flex-direction: column;
              gap: 10px;
              .loser {
                color: rgba(255, 255, 255, 0.4);
              }
            }
          }
          .teamScore {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .loser {
              color: rgba(255, 255, 255, 0.4);
            }
          }
          .coefficients {
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: #e8b345;
          }
          &:hover {
            box-shadow: 0px -1px 30px 1px rgba(0, 0, 0, 0.46);
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .home {
    .container {
      .row {
        .cardBox {
          .card {
            width: 70%;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .home {
    .container {
      .row {
        .cardBox {
          .card {
            width: 100%;
          }
        }
      }
    }
  }
}
